.ava {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.ava img {
  width: 3rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.dotnot {
  list-style: none;
}

.textareaWrap {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  max-width: 480px;
  margin-bottom: 1rem;
}

.textareaWrap textarea {
  resize: none;
  grid-row: 1/3;
  padding: 0.3rem;
}
