.userItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  color: rgb(12, 34, 100);
}

.userItem img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.user {
  display: grid;
  gap: 0.3rem 0;
  max-width: inherit;
  justify-items: center;
}

.message {
  border-radius: 6px;
  background: azure;
  color: black;
  padding: 0.8rem;
  margin: 0.5rem;
}
