.item {
  margin-bottom: 1.5rem;
}
.ava {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.ava img {
  width: 3rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.btn {
  border: none;
  background: none;
  outline: none;
  color: antiquewhite;
  font-size: 12px;
}

.btn:hover {
  cursor: pointer;
  color: aqua;
}

.text {
  color: whitesmoke;
}