.item {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
  border-bottom: 3px solid #343d5b;
  padding-bottom: 1rem;
}

.ava {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  grid-row: 1/3;
}

.ava img {
  width: 5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.btnWrap {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  border: none;
  background: none;
  outline: none;
  color: antiquewhite;
  font-size: 12px;
  background: darkblue;
  padding: 0.5rem;
  border-radius: 6px;
}

.btn:hover {
  cursor: pointer;
  color: aqua;
}

.text {
  color: whitesmoke;
}
