/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: var(--body_color_background);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-bottom: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

ul[class] {
  list-style: none;
}

/* Base */
h1,
h2,
h3 {
  margin-bottom: 0.5em;
}

a {
  color: var(--main_color_links);
}

/* Palette */
:root {
  --body_color_background: #202643;
  --main_color_background: #576a7c;
  --main_color_text: #dfa753;
  --main_color_links: #ffeb3b;
  --main_color_links: #ffeb3b;
}

.app {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  font-size: 20px;
}

.app > * {
  border-radius: 0.6rem;
  overflow: hidden;
  padding: 2rem;
  background: var(--main_color_background);
  color: var(--main_color_text);
}

.footer {
  grid-column: 1/5;
}

.footer img {
  max-height: 3rem;
}

.content {
  grid-column: 2/5;
}

.content h2 {
  text-align: center;
}
