.block {
  display: grid;
  grid-template-columns: 3fr 6fr;
  gap: 1rem;
}

.block > div {
  border-right: 5px solid azure;
  border-radius: 10px;
}

.item {
  background: #bbc1d6;
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
  display: flex;
  grid-template: 1rem;
}

.item a {
  text-decoration: none;
}

.item a.active {
  background: yellow;
  color: gold;
}

.list {
  display: grid;
  gap: 1rem 0;
  background: #6d7588;
  padding: 1rem;
}

.messageText {
  padding: 1.5rem;
  border-radius: 6px;
  background: #313c55;
  max-height: 100%;
  color: #83a4c8f0;
}

.userListItem {
  border-radius: 6px;
  background: #313c55;
  padding: 0.8rem;
}

.userListItem  div {
  color: azure;
}

.userList {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
